<app-navbar [pageName]="'Movies'"></app-navbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let movie of movies; let i = index">
      <ion-label>
        {{ i + 1 }}
      </ion-label>
      <ion-label>
        {{ movie.name }}
      </ion-label>
      <ion-label>
        {{ movie.rating }}
      </ion-label>
      <ion-icon name="trash-outline" (click)="deleteMovie(movie)"></ion-icon>
      <ion-icon name="pencil-outline" (click)="goToEditMovie(movie)"></ion-icon>
      <ion-icon name="chevron-forward-outline" (click)="goToMovieDetails(movie)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="goToAddMovie()">Add Movie</ion-button>
</ion-footer>
